@model TestImplant.Models.ContactModel
@{
    ViewBag.Title = "ContactForm";
}

<h2>ContactForm</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Nom)<br />
    @Html.TextBoxFor(model => model.Nom)<br />
    @Html.ValidationMessageFor(model => model.Nom)<br />
    
    @Html.LabelFor(model => model.Email)<br />
    @Html.TextBoxFor(model => model.Email)<br />
    @Html.ValidationMessageFor(model => model.Email)<br />
    
    @Html.LabelFor(model => model.Commentaires)<br />
    @Html.TextAreaFor(model => model.Commentaires)<br />
    @Html.ValidationMessageFor(model => model.Commentaires)<br />
    
    <button type = submit>Soumettre</button>
    
    
}